body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
}

.navbar {
  background-color: #333;
}

.navbar-nav .nav-link {
  color: #fff;
}

.hero {
  background: url('./img/home-1536x1023.jpg') no-repeat center center;
  background-size: cover;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero h1,
.hero p,
.hero .btn {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 4rem;
  color: #ff9800;
}

.hero p {
  font-size: 1.5rem;
}

.hero .btn {
  background-color: #ff9800;
  border: none;
  color: white;
}

.services {
  background-color: #fafafa;
  padding: 3rem 0;
}

.services h2 {
  color: #3e2723;
  margin-bottom: 2rem;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.bi {
  font-size: 3rem;
  color: #ff9800;
  margin-bottom: 15px;
}

.blog-section {
  padding: 3rem 0;
  background-color: #f7f7f7;
}

.blog-section h2 {
  color: #3e2723;
  margin-bottom: 2rem;
}

.contact-section {
  background-color: #333;
  color: white;
  padding: 3rem 0;
}

.contact-section h2 {
  color: #ff9800;
}

.contact-section .form-control {
  background-color: #555;
  color: white;
}

.footer {
  background-color: #3e2723;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.2rem;
  }
}